<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href={{ url_for("static", filename="base.css")}}>
  <title>Flask Survey</title>
</head>
<body>
  <!-- This [for] loop displays any (and all) messages that...
  are "flashed" to the user, at the top of the HTML <body> -->
  <!-- Note, this applies not only to this "base" template...
  but also to every "child" template that is created. -->
  {% for msg in get_flashed_messages() %}
    <p>{{ msg }}</p>
  {% endfor %}
  <!-- This [block] tag defines a section of the HTML <body>...
  that can be altered by "children" of this "base" template.  -->
  {% block content %}
  {% endblock %}
</body>
</html>