body {
  background-color: lightskyblue;
  font-family: 'Noto Sans', sans-serif;
}

button {
  background-color: darkslategray;
  color: ghostwhite;
  padding: 5px;
  position: relative;
}

button:hover {
  cursor: pointer;
}
